[Desktop Entry]
Name=Lorena SO EMU
Exec=python3 ./Lorena.py
Icon=./favicon.png
StartupNotify=true
Terminal=true
Type=Application
Categories=Emulation;
